body {
font-family: "Roboto", sans-serif;
background-color: var(--color-white);
color: var(--color-slate);
}

button {
    cursor: pointer;
}
*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;
}
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 200%;
    height: auto;
}

li {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

.list{
list-style: none;
}

.address-list {
    font-style: normal
}


.nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-navy-blue);
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
}

.nav-link:hover {
color: var(--color-ocean);
}

.nav-link:focus {
color: var(--color-ocean);
}

.address-link {
    font-style: normal
}

.header-link {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        color: var(--color-iris);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        display: inline-block;
        text-align: center;
}

.logo-span {
    color: var(--color-navy-blue);
}

.footer-title {
            font-weight: 800;
            font-size: 18px;
            line-height: 1.16;
            color: var(--color-cloud);
}


.contact-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-slate);
}

.contact-link:focus,
.contact-link:hover {
    color: var(--color-ocean);
}


.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--color-iris);
    color: var(--color-white);
    letter-spacing: 0.04em;
}

.button:hover,
.button:focus {
    color: var(--color-white);
    background-color: var(--color-ocean);
}

 .button-list{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: var(--color-iris);
        background-color: var(--color-cloud);
        letter-spacing: 0.04em;
        display: inline-block;
        padding: 12px 24px;
        border-radius: 4px;
        border: 1px solid #E7E9FC;
}
.button-list:focus,
.button-list:hover {
    background-color:var(--color-ocean) ;
    color: var(--color-white);
}



.main-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-grey);
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.list-item {
        font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: var(--color-grey);
            text-transform: capitalize;
            margin-bottom: 8px;
}

.list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
}

.title-list {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        color: var(--color-navy-blue);
        text-align: center;
        text-transform: capitalize;
        letter-spacing: 0.02em
}

.title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--color-white);     
}


.section-list {
background-color: var(--color-cloud);
}

.list-image {
    background-color: var(--color-white);
}

.footer {
    background-color: var(--color-navy-blue);
}

.footer-span {
    color: var(--color-cloud);
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-cloud);
    margin-top: 16px;
}

/* ========================== Header ========================== */
.container{
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container{
    display: flex;
    max-width: 1158px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 15px;
}

/* навігація */
.header-nav{
    align-items: center;
    display: flex;
}

/* всі списки li */
.header-list {
    display: flex;
    gap: 40px;
    margin-left: 76px;

}
/* email telefon */
.header-list-address{
    display: flex;
    align-items: center;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}
/*=================================== TITLE BUTTON ===========================*/
/*секція*/
.hero {
display: block;
padding-top: 188px;
padding-bottom: 188px;
background-color: var(--color-grey);
justify-content: center;

}
/*заголовок*/
.hero-title{
    display: block;
    width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
 }
/*кнопка*/
.hero-button{
    display: block;
    width: 169px;
    margin: 0 auto;
    width: 169px;
    height: 56px;
    border: 0;
    border-radius: 4px;
}
/* ============================== Main text content ===============================*/
.title-none{
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--dark-color);
}

.Features {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* секція */
.text-section{
    padding-top: 120px;
    padding-bottom: 120px;
}
/* Батьківський бокс ul */
.main-list{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
/* Дочірний бокс li */
.main-item {
    flex-basis: calc((100% - 72px)/4);
}
/* =============================== section-appearance ===================================== */
.section-appearance{
    padding-bottom: 120px;
}
.appearance-name{
    margin: 0 auto;
margin-bottom: 72px;
}
.appearance-list{
display: flex;
justify-content: space-between;
gap: 24px;
}
.appearance-item{
flex-basis: calc((100% - 48px)/3);
}
/* ======================================= team-section ============================================= */
.team-section{
padding-bottom: 120px;
padding-top: 120px;
}
.team-name{
margin-bottom: 72px;
}
.team-list{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.team-item{
    height: 100%;
    flex-grow: 1;
    text-align: center;
    flex-basis: calc((100% - 72px)/4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-description{
    padding-top: 32px;
    padding-bottom: 32px;
}
/* =================== footer =========================*/
.section-footer{
    padding-top: 100px;
    padding-bottom: 100px;
}
.text-footer{
    width: 264px;
}
/* ==================================  Portfolio section =================================== */
/* section*/
.section-filtres{
    padding-top: 96px;
    padding-bottom: 120px;
}
/* ul кнопки */
.filtres-list{
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    gap: 24px;
}
/* ul список категорій */
.filtres-list-item{
    display: flex;
        gap: 48px 24px;
        flex-wrap: wrap;
}
/* li вибір категорії */
.filtres-item-img{
flex-basis: calc((100% - 48px) / 3);
border-radius: 0px 0px 4px 4px;}

.filtres-link{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.filtres-items{
    flex-grow: 1;
    padding-top: 32px;
    padding: 32px 16px;
    padding-bottom: 32px;
    border-right: 1px solid var(--color-cornflower);
    border-bottom: 1px solid var(--color-cornflower);
    border-left: 1px solid var(--color-cornflower);
}